.friendsHeader {
  font-size: 22px;
  color: #fff;
  padding-top: 20px;
}
.friendsContainer {
  display: flex;
  flex-wrap: wrap;

  max-width: 100%;
  box-sizing: border-box;
}
.friendsItem {
  //flex: 1 0 0;
  flex: 0 0 auto;
  width: 33.33333333%;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5px;

  box-sizing: border-box;
}
.friendsAvatar {
  width: 30px;
  height: 30px;
  display: block;
  background: yellow;
  border-radius: 50%;
  margin-bottom: 5px;
}
.friendsName {
  color: #fff;
  font-size: 12px;
}
