.header {
  grid-area: h;
  display: flex;
  box-sizing: border-box;
  background: lightcoral;
}
.header img {
  /*display: block;*/
  /*max-width: 100%;*/
  //height: 235px;
  /*object-fit: cover;*/
}
