.nav {
  grid-area: n;
  background: lightblue;
  padding: 20px;
  ul {
    padding: 0;
  }
  a {
    display: block;
    color: indigo;
    text-decoration: none;
  }
}

.item {
  list-style: none;
  margin-bottom: 10px;
  a {
    color: #fff;
    &.active {
      color: gold;
    }
  }
}
