.appWrapper {
  display: grid;
  grid-template-rows: 60px 1fr;
  grid-template-columns: 2fr 10fr;
  grid-template-areas: "h h" "n c";
  grid-gap: 5px;
}

.appWrapperContent {
  grid-area: c;
  background: lightseagreen;
  display: flex;
  flex-direction: column;
}
